<p>
  <strong>Name:</strong>
  <%= @restaurants.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurants.address %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurants.category %>
</p>

<p>
  <strong>Phone-Number:</strong>
  <%= @restaurants.phone_number %>
</p>

<%= link_to 'Back', restaurants_path %>
